  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      /*? COLOR VARIABLES FROM FIGMA */
      /* * Color Brand */
      --cb-teal: #008080;
      --cb-gray: #585858;

      /* * Color Neutral */
      --cn-black: #FFFFFF;
      --cn-white: #000000;
      --cn-lightest: #000108;
      --cn-lighter: #222222;
      --cn-light: #444444;
      --cn-neutral: #666666;
      --cn-dark: #AAAAAA;
      --cn-darker: #CCCCCC;
      --cn-darkest: #EEEEEE;

      /* * Color System */
      --cs-green: #027A48;
      --cs-green-light: #ECFDF3;
      --cs-red: #B42318;
      --cs-red-light: #FEF3F2;

      /* * Gradients */
      --ln-secondary: #162B2B;
      --ln-teal: linear-gradient(0deg, cb-teal 0%, --ln-secondary 100%);


      /* ? INITIAL SHADCN/UI COLORS */
      
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {

      /*? COLOR VARIABLES FROM FIGMA */
      /* * Color Brand */
      --cb-teal: #008080;
      --cb-gray: #585858;

      /* * Color Neutral */
      --cn-black: #000000;
      --cn-white: #FFFFFF;
      --cn-lightest: #EEEEEE;
      --cn-lighter: #CCCCCC;
      --cn-light: #AAAAAA;
      --cn-neutral: #666666;
      --cn-dark: #444444;
      --cn-darker: #222222;
      --cn-darkest: #000108;

      /* * Color System */
      --cs-green: #027A48;
      --cs-green-light: #ECFDF3;
      --cs-red: #B42318;
      --cs-red-light: #FEF3F2;

      /* * Gradients */
      --ln-secondary: #78ebeb


      /* ? INITIAL SHADCN/UI COLORS */
      
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  }

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  /* ? CUSTOM CURSOR CSS */
html,
body {
  scroll-behavior: smooth;
}

/* ? Social Media Icons ~> Gradients */
.fill-ig path {
  fill: url(#ig-lin);
}

.fill-fm path {
  fill: url(#fm-lin);
}